body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.heading {
	background-color: #d6b1b1;
	padding: 30px 30px;
	border-radius: 8px;
	text-align: center;

}
.container-fluid {
	background-color: #1594b4;
	padding: 5px 5px;
	border-radius: 5px;
	text-align: left;
	font-weight: bold;

}

nav ul {
	list-style: none;
	display: flex;
	text-align: center;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #dd1111f5;
	text-decoration: none;
}

section {
	padding: 50px 20px;
}

section h2 {
	text-align: left ;
	margin-bottom: 20px;
}

section ul {
	list-style: disc;
	margin-left: 20px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

label {
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(240, 8, 8, 0.842);
}

input[type="submit"] {
	background-color: #cf1b1b;
	color: #f5f4f4;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
	background-color: #0cc52b;
}

footer {
	background-color: #333;
	color: #fcf9f9;
	text-align: center;
	padding: 20px;
}

footer p {
	margin: 0;
}

@media only screen and (max-width: 768px) {
	header {
		flex-direction: column;
		align-items: center;
	}

	nav {
		margin-top: 20px;
	}

	nav li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	section {
		padding: 20px;
	}

	form {
		max-width: none;
	}
}
.donation-tab {
	background-color: #f7f7f7;
	padding: 20px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .donation-tab h3 {
	margin-top: 0;
	font-size: 24px;
	font-weight: bold;
	color: #333;
  }
  
  .donation-tab p {
	margin-bottom: 10px;
	font-size: 16px;
	color: #666;
  }
  
  .donate-button {
	display: inline-block;
	padding: 12px 24px;
	background-color: #4CAF50;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	transition: background-color 0.3s ease;
  }
  
  .donate-button:hover {
	background-color: #45a049;
}
.text {
	text-align: center;
}
.row1 div div {
	color: #b68f8f;
	text-align: center;
	padding: 5px 5px;
}
.row2 div div {
	background-color: #e3eceb;
	border: 5px solid #333;
	padding: 50px;
	text-align: center;
	margin-bottom: 20px;
}
.row div div {
	background-color: #cbc5e9;
	border: 5px solid #333;
	padding: 20px;
	text-align: center;
}
.col {
	text-align: center;
}
.picture {
	text-align: center;
}
.about {
	text-align: center;
}
.contact {
	text-align: center;
}